{% extends 'main/base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">About Flask-Todo 👋</h1>
    <p class="lead">Welcome to Flask-Todo, your simple and intuitive task management solution! Flask-Todo is designed to help you stay organized and focused by providing an easy-to-use interface for managing your tasks.</p>
    <hr class="my-4">
    <h2>Our Mission</h2>
    <p>At Flask-Todo, our mission is to simplify task management and enhance productivity for individuals and teams. We believe that by providing a straightforward and efficient tool for organizing tasks, we can empower users to accomplish more and make the most out of their time.</p>
    <h2>Features</h2>
    <ul>
      <li>Task Management: Add, edit, and delete tasks effortlessly.</li>
      <li>User-Friendly Interface: Intuitive design for easy navigation and task management.</li>
      <li>Cross-Platform Access: Access your tasks from any device with an internet connection.</li>
      <li>Customization: Personalize your task lists and organize tasks according to your preferences.</li>
      <li>Data Security: Your tasks are securely stored and accessible only to you.</li>
    </ul>
    <h2>How to Get Started</h2>
    <p>Getting started with Flask-Todo is simple:</p>
    <ol>
      <li>Sign up for an account or log in if you already have one.</li>
      <li>Start adding your tasks using the intuitive interface.</li>
      <li>Stay on top of your tasks and accomplish more with Flask-Todo!</li>
    </ol>
    <h2>Feedback and Support</h2>
    <p>We value your feedback! If you have any questions, suggestions, or feedback, please don't hesitate to reach out to our support team. We're here to help you make the most out of Flask-Todo and improve your task management experience.</p>
    <p class="lead">
      Thank you for choosing Flask-Todo! 💗
    </p>
  </div>

{% endblock %}