{% extends 'main/base.html' %}

{% block content %}


    <div class="container d-flex justify-content-center align-items-center">
        <div>
            <h1 class="text-center">Todo List</h1>
            <form method="POST" action="{{url_for('main.add_todo')}}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.title.label }}
                    {{ form.title(class="form-control", size=32) }}
                    {{ form.description.label }}
                    {{ form.description(class="form-control mb-3",rows=5) }}
                    {% for error in form.title.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label>
                    <select class="form-select" id="priority" name="priority">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>
                <div class="mb-3">
                    {{ form.due_date.label }}
                    {{ form.due_date(class="form-control") }}
                </div>
                <div class="text-center">
                    <button type="submit" class="bubbly-button add-todo-btn">Add Todo</button>
                </div>
            </form>
        

    <script>
        var animateButton = function(e) {

            e.preventDefault;
            //reset animation
            e.target.classList.remove('animate');

            e.target.classList.add('animate');
            setTimeout(function(){
            e.target.classList.remove('animate');
            },700);
            };

            var bubblyButtons = document.getElementsByClassName("bubbly-button");

            for (var i = 0; i < bubblyButtons.length; i++) {
            bubblyButtons[i].addEventListener('click', animateButton, false);
            }
    </script>
            
{% endblock %}

