{% extends 'main/base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible animate__animated animate__bounceIn" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="container">
    <p class="text-center h3">TODO'S</p>
    {% if not todos %}
    <p class="h3 text-center">No todo</p>
    {% else %}
        {% for todo in todos %}
        <div class="accordion">
            <div class="accordion-header {% if todo.completed %}completed{% endif %}" id="heading{{ loop.index }}">
                <div id="collapse{{ loop.index }}" >
                    {% if todo.priority == 'high' %}
                        <span class="pulsating-circle high"></span>
                    {% elif todo.priority == 'medium' %}
                        <span class="pulsating-circle medium"></span>
                    {% elif todo.priority == 'low' %}
                        <span class="pulsating-circle low"></span>
                    {% endif %}
                    </div>
                <span class="todo-title">{{ todo.title }}</span>

                <div class="btn-group">
                    <form method="POST" action="{{ url_for('main.complete_todo', todo_id=todo.id) }}">
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" name="completed" id="completeCheck{{ todo.id }}" onclick="this.form.submit();" {% if todo.completed %}checked {% endif %}>
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('main.delete_todo', todo_id=todo.id) }}">
                        <button type="submit" class="btn btn-sm">
                            <img src="{{ url_for('static', filename='images/icons8-trash.svg') }}" alt="delete">
                        </button>
                    </form>
                    <form method="POST" action="{{ url_for('main.edit_todo', todo_id=todo.id) }}">
                        <button type="submit" class="btn btn-sm">
                            <img src="{{ url_for('static', filename='images/icons8-edit.svg') }}" alt="edit">
                        </button>
                    </form>
                </div>
            </div>
            <div id="collapse{{ loop.index }}" class="accordion-body">
                <pre>{{ todo.description }}</pre>
                {% if todo.priority == 'high' %}
                    <span class="badge bg-danger text-dark">High</span>
                {% elif todo.priority == 'medium' %}
                    <span class="badge bg-warning text-dark">Medium</span>
                {% elif todo.priority == 'low' %}
                    <span class="badge bg-secondary text-dark">Low</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const headers = document.querySelectorAll('.accordion-header');
        headers.forEach(header => {
            header.addEventListener('click', function() {
                const body = this.nextElementSibling;
                const isOpen = body.style.display === 'block';
                body.style.display = isOpen ? 'none' : 'block';
            });
        });

        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.classList.remove('animate__bounceIn');
                alert.classList.add('animate__backOutLeft');
                setTimeout(() => {
                    alert.style.display = 'none';
                }, 1000);
            }, 4500);
        });
    });
</script>


    <div class="plus-button-container">
        <a href="{{ url_for('main.add_todo') }}" class="btn plus-button"><i class="bi bi-plus-lg"></i></a>
    </div>
{% endblock %}
