@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root{
  /* --bs-body-bg : #434A54 !important; */
  --bs-body-font-family: "Poetsen One", sans-serif !important;
  
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: #1a1a1a;
      --text-color: #ffffff;
      --border-color: #333333;
      --accordion-bg-color: #262626;
      --accordion-header-bg-color: #333333;
      --accordion-header-hover-bg-color: #444444;
      --accordion-body-bg-color: #1a1a1a;
  }
}

.add-todo-btn {
    width: 120px;
}
/* Adjust input width */
.form-control {
    width: 350px; 
}
.list-group-item{
    width: 350px; 

}

html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 120px; 
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px !important; 
  }
  
.list-group-item {
    border-top-width: 1px !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 1% !important; 
  border-bottom-left-radius: 1% !important;
}

.list-group-item:first-child {
  border-top-left-radius: 1% !important;
  border-top-right-radius: 1% !important;
}

.list-group-item {
  border-top-width: 1px !important;
}


.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}
.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}


/* Todos border */
.todo_border{
      border: 1px solid #4dccc6 !important;
}



/* Add floating button */

.plus-button-container {
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 1000; 
}

.plus-button {
  background-color: #6610f2 !important;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
}


.accordion {
  width: 70%;
  margin: 0 auto; /* Center the accordion within the container */
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: var(--accordion-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}


.accordion-header {
  background-color: var(--accordion-header-bg-color);
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
}
.accordion-header:hover {
  background-color: var(--accordion-header-hover-bg-color);
}
.accordion-body {
  display: none;
  padding: 15px;
  background-color: var(--accordion-body-bg-color);
  transition: background-color 0.3s ease;
}
.btn-group {
  display: flex;
  gap: 10px;
}
.btn-group form {
  display: inline-block;
}
.btn img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .accordion {
    width: 90%; /* Set a larger width for mobile devices */
  }

  .btn-group {
    gap: 0px;
  }
}

.completed {
  text-decoration: line-through;
  color: grey;
}


.animate__animated.animate__bounceIn {
  --animate-duration: 500ms;
}



.pulsating-circle {
  height: 15px;
  width: 15px;
  margin-right: 18px;
  border-radius: 50%;
  animation: 1.5s pulse infinite ease-in-out;
}

/* High priority badge */
.pulsating-circle.high {
  background-color: #dc3545; /* Red */
}

.pulsating-circle.high::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border-radius: 50%;
  background-color: #dc3545;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 0 #dc3545;
  animation: 1.5s pulse-red infinite ease-in-out;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 #dc3545;
  }
  100% {
    box-shadow: 0 0 0 14px #dc354500;
  }
}

/* Medium priority badge */
.pulsating-circle.medium {
  background-color: #ffc107; /* Yellow */
}

.pulsating-circle.medium::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #ffc107;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 0 #ffc107;
  animation: 1.5s pulse-yellow infinite ease-in-out;
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 #ffc107;
  }
  100% {
    box-shadow: 0 0 0 14px #ffc10700;
  }
}

/* Low priority badge */
.pulsating-circle.low {
  background-color: #6c757d; /* Grey */
}

.pulsating-circle.low::before {
  content: '';
  position: absolute;
  background-color: #6c757d;
  margin-top: 7px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 0 0 #6c757d;
  animation: 1.5s pulse-grey infinite ease-in-out;
}

@keyframes pulse-grey {
  0% {
    box-shadow: 0 0 0 0 #6c757d;
  }
  100% {
    box-shadow: 0 0 0 14px #6c757d00;
  }
}

.todo-title {
  margin-left: 1em;
  flex-grow: 1;
}
