{% extends 'main/base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible animate__animated animate__bounceIn" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <h1>Add Note</h1>
    <form method="POST" action="{{ url_for('note.add_note') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label }}
            {{ form.title(class="form-control", size=32) }}
            {{ form.content.label }}
            {{ ckeditor.load() }}
            {{ form.content(class="form-control", id="editor") }}
            {% for error in form.content.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-1">Save</button>
        </div>
    </form>
</div>
{% endblock %}
