{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% if 'delete' not in message %}
            <strong>Hey {{name}} - {{ message }}</strong>
        {% else %}
            <strong>{{ message }}</strong>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <h1>Welcome to Your Todo List Application</h1>
    {% if current_user.is_authenticated %}
    <a class="btn btn-primary" href="{{url_for('todos')}}">Todos</a>
    {% else %}
    <p><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a></p>
    {% endif %}
{% endblock %}
