
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index')}}">TODO App 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 gap-3 pe-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home 🏠</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('todo')}}">Todo 📝</a>
              </li>
            <li class="nav-item">
                <a class="btn btn-danger" href="{{url_for('logout')}}">Logout </a>
              </li>
            {% else %}
            <li class="nav-item">
                <a class=" btn btn-success" href="{{url_for('register')}}">Create Account 🖊️</a>
              </li>
            <li class="nav-item">
              <a class=" btn btn-primary" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif%}
          </ul>
        </div>
      </div>
    </div>
  </nav>