{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    {% if 'delete' in message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% elif 'update' in message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% endif %}
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="container d-flex justify-content-center align-items-center">
    <div>
    <p class="text-center">TODO'S</p>
                {% if not todos %}
                <p class="h3">No todo </p>
                {% else %}
            <ul class="list-group mt-3 gap-2">
                {% for todo in todos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center todo_border">
                        {{ todo.title }}
                        <div class="btn-group" role="group">
                            <form method="POST" action="{{ url_for('delete_todo', todo_id=todo.id) }}">
                                <button type="submit" class="btn me-2"><img class="" src="{{ url_for('static',filename='images/icons8-trash.svg')}}" alt="" width="25" height="25"></button>
                            </form>
                            <form method="POST" action="{{ url_for('edit_todo', todo_id=todo.id) }}">
                                <button type="submit" class="btn me-2"><img width="25" height="25" src="{{ url_for('static',filename='images/icons8-edit.svg')}}" alt="edit"/></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
